* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  color: #333;
}

.wrap {
  width: 100%;
  height: 950px;
  position: relative;
}

.flex {
  display: flex;
}
/* 헤더 */
.hd {
  width: 200px;
  height: 850px;
  background: seagreen;
}

.logo {
  width: 200px;
  height: 40px;
  font-size: 0;
  margin-top: 10px;
}

/* 네비 */
.nav {
  margin: 20px;
  background: white;
}

.dep1 a {
  display: block;
}
.dep1 > li > a {
  padding: 15px 10px;
}
.dep1 > li:hover {
  background: rgb(206, 206, 206);
}
.dep1 > li > a {
  border-bottom: 1px solid #000;
}
.dep2 > li > a {
  padding: 5px 10px;
}
.dep2 > li > a:hover {
  background: #eee;
}
.dep2 {
  display: none;
}

/* 스팟메뉴 */
.spot {
  display: flex;
  justify-content: space-around;
  width: 160px;
  margin: 0 20px;
}
.spot span {
  color: white;
}

/* 메인컨텐츠 */
.main {
  width: calc(100% - 200px);
}

/* 슬라이드  */
.slides {
  height: 400px;
  overflow: hidden;
  position: relative;
}
.slide {
  height: 1200px;
}
.slides li {
  font-size: 0;
  position: relative;
}
.slide p {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  font-weight: 600;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.goto {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  background: white;
  border-bottom-left-radius: 20px;
}
.goto img {
  width: 80px;
}
.goto span {
  font-size: 16px;
  margin-top: 5px;
}
.goto a {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.goto ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bnr {
  height: 200px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.bnr img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}
.bnr p {
  position: absolute;
  bottom: 40px;
  left: 50px;
  font-size: 20px;
  font-weight: 700;
}

.tabs {
  display: flex;
  position: relative;
  padding: 0 20px;
}

.n-ul {
  margin-top: 10px;
}
.n-ul li {
  padding: 5px 0;
}
.g-tit {
  position: absolute;
  top: 0;
  left: 130px;
}
.g-ul {
  display: none;
  position: absolute;
  top: 45px;
  left: 20px;
  gap: 20px;
}
.g-ul img {
  width: 200px;
  border-radius: 10px;
}

.active h2 span {
  color: seagreen;
}
.active .g-ul {
  display: flex;
}
.tabs ul {
  display: none;
}
.active ul {
  display: block;
}
/* 푸터 */
.ft {
  height: 100px;
  display: flex;
  align-items: center;
  background: #eee;
}
.box {
  width: 100%;
  display: flex;
  align-items: center;
}
.copy {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sns {
  width: 10%;
}
.sns ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lg img {
  filter: grayscale(100%);
}

/* 팝업 */
.pop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  width: 500px;
  height: 300px;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
}
.clo {
  width: 50px;
}
